
html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 0.5em;
}

::-webkit-scrollbar-track{
    background: #CBA328;
}

::-webkit-scrollbar-thumb{
    background: #5C5346;
}
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/* HEADER*/
.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}
.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display: none;
    display: block;
    width: 35px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3 ease-in-out;
    transition: all 0.3 ease-in-out;
    background: #CBA328;
}
.uvod {
    text-align: center;
    margin: 10%;
}
.section-uvod{
    background: #1e1e1e;
    display: flex;
    justify-content: space-between;
    gap: 60px;
}
.uvod-article{
    margin: 5% 0;
    width: 50%;
    text-align: center;
}
.uvod-article p{
    margin: 15px 20%;
}

@media(max-width: 768px){

    .galery_container img{
        width: 375px;
    }
    .prev{
        display: none;
      }
      .next{
        display: none;
      }

    .section-uvod{
        flex-direction: column;
        align-items: center;
    }
    .uvod-article p{
        margin: 25px -40%;
    }
    .kontakt{
        flex-direction: column;
        gap: 60px;
    }

    .card_container{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    
    .mainproduct{
        flex-direction: column;
        align-items: center;
    }
    .section_product{
        flex-direction: column;
        align-items: center;
    }
   
    .product{

        text-align: center;
    }
    .product h2{
        width: 100%;
        font-size: 24px;
    }
    .galery_main{
        padding: 25px 0;
    }
    .hamburger{
        position: absolute;
        right: 5%;
        top: 3%;
        display: block;
    }
    .hamburger.active{
        background: none;
        position: fixed;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu {
        position: fixed;
        width:100vw;
        right: 100%;
        top: 0%;
        flex-direction: column;
        text-align: center;
        transition: 0.3s;
        gap: 0;
    }
    .nav-menu a{
        color: #CBA328;
    }

    .nav-menu.active{
        opacity: 0.8;
        gap: 50px;
        background: #1e1e1e ;
        margin: 0;
        right: 0%;
        padding: 35px 0;
    }
  }



#logo{
    width: 200px;
    margin: 10px 15px;
}

#soc{
    width: 33px;
    margin: 50px 20px;
}

.header-container{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(#fffff0 45%,#FFFFFF 100%);
    opacity: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}



.header-container ul{
    display: flex;
    list-style-type: none;
    margin: 0 100px;
    align-content: center;
    padding: 0;
}
.header-container li{
    list-style: none;
    margin: 10px;
}
.header-container li a{
    transition: ease-in 0.4s;
    padding: 5px 15px;
    border-bottom: 1px solid #CBA328;
}

.header-container li  :hover{
    color: #5C5346;
    transition: 1.2s;
}

.header-container nav{
    display: flex;
    align-items: center;
}


/* parametr */
h1{
    font-size: 42px;
}
h2{
    font-size: 28px;
}
h1,h2{
    color:#CBA328 ;
    
}
p{
    font-weight: 900;
    color: #5C5346;
    font-size: 18px ;
}
a{
    font-weight: 900;
    text-decoration: none;
    font-size: 18px;
    color: #CBA328;
}
li{
    list-style: none;
}

/* Main */
/* Section 1*/

.main_container{
    background: #1e1e1e;
    text-align: center;
    padding: 10px 0;
}
.main_section{
    display: flex;
    padding: 50px 0;
    justify-content: space-evenly;
}
.main_section section{
    width: 50%;
}

.article p{
    margin: 0 50px;
    padding: 20px;
}

/* Product section */

.section_product{
    display: flex;
    padding: 50px 0;
}
.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33.33%;
    margin: 0 5%;
}
.product p{
    color: #CBA328;
    padding-bottom: 13px;
    border-bottom: 1px dotted #CBA328 ;
}
.product h2{
    padding: 15px 50px;
    border: 2px solid #CBA328;
}

.skryto {
    display: none;
}
  .animovany-nadpis {
    cursor: pointer;
    transition: ease-in 0.4s;
  }
  
  .animovany-nadpis:hover {
    color: #CBA328; /* Změníme barvu nadpisu při najetí myší */
    transition: 0.8s;
    opacity: 0.3;
  }
/* MainProduct */

.mainproduct{
    display: flex;
    justify-content: space-around;
}
.divproduct{
    border: 1px solid #5C5346;
    box-shadow: #5C5346 0px 0px 10px 0px;
    padding: 20px 25px;
    margin: 5% 7%;
    border-radius: 3%;
}
.divproduct p {
    color: #CBA328;
}
.divproduct h1{
    border-bottom: 1px solid #5C5346;
    padding-bottom: 10px;
}

/* Stan */
.stan{
    margin: 100px 0;
    
}

/* Rezervace */
.rezervace-container{
    margin: 50px 0;
}
#rezervace{
    margin: 10% 0;
    border: 1px solid #CBA328;
    padding: 25px 30px;
    font-size: 1.5rem;
    transition: ease-in 0.4s;
}

#rezervace:hover{
    border: 1px solid #5C5346;
    transition: 0.8s;
    opacity: 0.5;
}

/* ASIDE */
.card_container{
    display: flex;
    justify-content: space-evenly;
    margin: 10% 0;
}

.card_container div{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 15%;
    border-radius: 3%;
    padding: 5px 10px;
    width: 50%;
    transition: transform 0.3s ease;
}
.card_container div:hover{
    transform: scale(1.05);
    transition: 0.8s;
}



/* GALERIE */

.galery_main{
    text-align: center;
    margin: 0;
}

.galery_container{
    text-align: center;
    margin: 100px 0;
}

.galery_container img{
    transition: ease 0.6s;
    border-radius:5%;
    cursor: pointer;
}

.galery_container img:hover{
    transform: scale(1.05);
    transition: 0.8s;
    opacity: 0.9;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 250px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 100%;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #5C5346;
    padding: 10px 0;
    height: 150px;
    font-size: 24px;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.8s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #CBA328;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }

  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    top: 50%;
    cursor: pointer;
    position: absolute;
    margin: 0 auto;
    width: auto;
    padding: 16px;
    color: #CBA328;
    font-weight: bold;
    font-size: 22px;
    transition: 0.8s ease;
    border-radius: 2%;
    user-select: none;
  }
  .prev{
    left: 30%;
  }
  .next{
    right:  30%;
  }
  
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: #5C5346;
  }
  /* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #CBA328;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }



/* FAQ */

.faq_section{
    text-align: center;
}
.faq{
    display: flex;
    flex-direction: column;
}
.faq div{
    margin: 10px auto;
    border-bottom:1px dotted #CBA328;
}
.faq div p{
    padding: 0 10px;
}



/* FOOTER */
.our_section{
    text-align: center;
}
.socsite{
    padding: 100px 0;
    display: flex;
    justify-content: space-evenly;
}

.socsite div{
    padding: 10px 20px;
    border-radius: 5%;
    transition: ease-in-out 0.4s;
    border-bottom: 1px solid #CBA328;
}
.socsite div:hover{
    opacity: 0.5;
    transition: 0.8s;
}


.kontakt{
    padding: 100px 0;
    display: flex;
    justify-content: space-evenly;
}
.kontakt div{
   border-bottom: 1px solid #CBA328;
   border-radius: 3%;
   margin: auto;
   padding: 10px 20px;
}
.kontakt div p{
    font-size: 24px;
}


.footer{
    border-top: 1px solid #CBA328;
    text-align: center;
    margin: 0;
    padding:50px 0;
  }